*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top{
    height: 50px;
    background-color: #588317;
    margin-bottom: 20px;
    padding: 10px;
}
.top div.sitename{
    display: inline-block;
    color: #641022;
    position: relative;
    top: -10px;
}
.top div.menu{
    float: right;
}
.top div.menu{
    color: rgb(77, 145, 77);
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
}
.content{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
table{
    width: 90%;

}
table tr:nth-child(odd) {
    background-color: #5a830e;
    color: white;
    height: 30px;
}
table tr:nth-child(even) {
    background-color: #AFD275;
    height: 30px;
}
table tr:first-child{
    background-color: rgb(160, 63, 63);
}
table td{
    text-align: center;
}
span.special{
    color: darkgreen;
    font-weight: bold;

}